<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="tests" name="Suite">

  <test  name="Chandan One+5">
         <parameter name="platformName" value="Android"/>
         <parameter name="deviceName" value= "Chandan One+5" />
         <parameter name="udid" value="730cc295" />
         <parameter name="systemPort" value="10000" />
         <parameter name="chromeDriverPort" value="11000" />
         <classes>
         <class name="com.qa.runner.MyonePlusTestNGRunnerTest"/>
         </classes>
  </test>
    <test  name="Android2">
         <parameter name="platformName" value="Android" />
         <parameter name="deviceName" value= "emulator-5554" />
         <parameter name="udid" value="emulator-5554" />
         <parameter name="systemPort" value="10001" />
         <parameter name="chromeDriverPort" value="11001" />
    <classes>
      <class name="com.qa.runner.MyTestNGRunnerTest"/>
    </classes>
  </test>
</suite>
